# Semana 03

Temas: 
1. Numeros
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por el teclado
5. Operadores

1. Números

In [1]:
8+5

13

In [2]:
4*3+5-2/6

16.666666666666668

2. Variables

In [3]:
edad = 41

In [4]:
edad

41

In [5]:
nombre = "Daniel Levano"

In [6]:
nombre

'Daniel Levano'

In [8]:
nacionalidad  = "peruano"

In [9]:
nacionalidad

'peruano'

In [10]:
datos_completo = nombre + " es " + nacionalidad

In [12]:
datos_completo

'Daniel Levano es peruano'

In [13]:
# Para saber el tipo de dato de una variable utilizamos type
type(edad)

int

In [14]:
type(nombre)

str

In [15]:
talla = 1.68

In [16]:
type(talla)

float

In [17]:
# Para convertir un numero a cadena usamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [18]:
type(cadena)

str

In [19]:
# Para convertir una cadena a numerico

In [21]:
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [22]:
type(numero2)

int

In [23]:
# Para convertir una cadena a float
numero3 = float(cadena2)
numero3

50.0

3. Manejo de cadenas

In [24]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [25]:
#Universidad Nacional Tecnologica de Lima Sur
#0123456.......

In [26]:
cadena[5]

'r'

In [27]:
cadena[10]

'd'

In [28]:
cadena[-5]

'a'

In [30]:
# subcadena
cadena[3:8]

'versi'

In [31]:
len(cadena)

44

In [34]:
# Mayuscula
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [35]:
# Minuscula
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [38]:
# Generar una lista a partir de una cadena. split()
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [40]:
# Generar una lista a partir de una cadena
# utilizando como criterio de separación la letra "a"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [41]:
# concatenar
nombre = "Daniel Levano"
print("Buenas tardes " + nombre)

Buenas tardes Daniel Levano

In [42]:
# Utilizando el .format
nombre = "Pablo Levano"
edad = 15
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Pablo Levano ya se que tienes 15 años

In [47]:
# Dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 = {}".format(resultado))
print("10/3 = {r:1.5f}".format(r=resultado))

10/3 = 3.3333333333333335
10/3 = 3.33333

4. Ingreso de datos por el teclado

In [48]:
# Función input()
print("¿Cuál es tu nombre?")
nombre = input()
print("hola " + nombre)

¿Cuál es tu nombre?
Daniel
hola Daniel

In [49]:
print("Numero 01: ")
numero01 = input()
print("Numero 02: ")
numero02 = input()
numero03 = int(numero01) + int(numero02)
print(f"El resultado es {numero03}")

Numero 01:
10
Numero 02:
20
El resultado es 30

5. Operadores

In [55]:
# 5.1 Operadores aritméticos
# Se tiene: +, -, *, /, **, %, //

In [56]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [57]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=

numero = 5
numero += 3
print(numero)

8

In [58]:
# 5.3 Operadores de comparación
# Se tiene: ==, !=, <, >, <=, >=,

In [59]:
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [61]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True