In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

dataframe = pd.read_csv('DSCancerDeMamaSinDatosPerdidos.csv',sep=';')
clasificadores = ['Benigno','Maligno']

In [8]:
dataframe.head(10)

   BIRADS  Edad  Forma  Margen  Densidad  Resultado
0       5    67      3       5         3          1
1       5    58      4       5         3          1
2       4    28      1       1         3          0
3       5    57      1       5         3          1
4       5    76      1       4         3          1
5       3    42      2       1         3          1
6       4    36      3       1         2          0
7       4    60      2       1         2          0
8       4    54      1       1         3          0
9       3    52      3       4         3          0

In [10]:
dataframe.groupby('Resultado').size()

Resultado
0    427
1    403
dtype: int64